@charset "UTF-8";

* 
{
  box-sizing: border-box;
}

body 
{
  font-family: Arial, Helvetica, sans-serif;
}

#contact-us
{
  text-align: center;
  color: midnightblue;
}
form
{
  color: midnightblue;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] 
{
  background-color: #2b28b8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover 
{
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #e9f0f7;
  padding: 20px;
}

button
{
  display: block;
	width: 100%;
	background: #2a2a92;
	color: white;
	border: none;
	font-size: 110%;
	padding: 5px;
	margin-top: 1em;
	margin-right: 1em;
}