@charset "UTF-8";

*{
	box-sizing: border-box;
}

body 
{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
	background:#FFFFFF;
	line-height: 1.6;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.container
{
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background:#31318F;
	color: white;
	
}

.donate-bg
{
	width: 100%;
  	height: auto;
}

.container #title
{
	display: block;
	padding-left: 90px;
}

.container #description
{
	display: block;
	padding-left: 15px;
	padding-top: 10px;
	float: none;
}

.intro
{
	display: block;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

.mainPart
{
	-webkit-flex: 1 3 180px;
   flex: 1 3 180px;
}

.bodyPart
{
	background: #FFFFFF;
	color: black;
	padding: 1em;
}

form
{
	padding: 5px;
}

span.special_icon
{
	color: red;
}

.speaking-icon
{
	width: 0.01px;
	height: 0.01px;
}

.choice
{
	display: block;
	background: #DCDADA;
	padding: 5px;
	margin-top: 1em;
	margin-right: 1em;
	width: 100%;
}

.textbox
{
	display: block;
	padding: 5px;
	margin-top: 1em;
	margin-right: 1em;
	width: 100%;
	font-size: 120%;
}

button
{
	display: block;
	width: 100%;
	background: #2a2a92;
	color: white;
	border: none;
	font-size: 110%;
	padding: 5px;
	margin-top: 1em;
	margin-right: 1em;
}

/* Validation for Non-Radio Input */
input:not([type='radio']):valid {
	background: rgb(215, 255, 215);
}

input:not([type='radio']):invalid {
	background: rgb(255, 255, 255);
}

.fb_header
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 150%;
	float: none;
	margin-bottom: 5px;
}

.feedback
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	text-align: center;
	color: lightgrey;
	width: 80%;
}

/* ===================================================
	Mobile Devices
   ===================================================
*/
@media (max-width: 480px) 
{
	.secondary_header ul li {
		float: none;
		margin-top: 28px;
		margin-left: 0px;
		width: 100%;
	}
	
	.secondary_header {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 1px;
		padding-bottom: 40px;
	}
   #thanks-quote
   {
		width: 100%;
		height: auto;
   }
	
	.container
	{
		max-width: 480px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}
	
   body
   {
   -webkit-order: 100;
   order: 100;
   }  
}

/* ===================================================
	Tablet and Desktop Devices
   ===================================================
*/
@media (min-width: 481px)  
{
	.secondary_header 
{
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	
}
	.secondary_header ul li 
	{
	margin-top: 10px;
	margin-right: 7%;
	margin-bottom: 10px;
	margin-left: 7%;
	}
	#thanks-quote
	{
		 width: 100%;
		 height: auto;
	}
	
	.container, .mainPart, form.surveyInfo, form>label, form>label>input
	{
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-justify-content: center;
      justify-content: center; 
	}
	
	body 
	{
  	background-image: url('ProjectImage.jpeg');
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
	}
   
   .container .header h2, p
	{
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
	  font-size: 150%;
   }
	
	.fb_header img
	{
		width: 200px;
	   height: 200px;
		
	}
}
